/*
------COLOUR SCHEME---------
Name: Tufts Blue
Hex: #3C99DC
RGB: (60, 153, 220)
CMYK: 0.727, 0.304, 0, 0.137


Name: Maya Blue
Hex: #66D3FA
RGB: (102, 211, 250)
CMYK: 0.592, 0.156, 0, 0.019


Name: Water
Hex: #D5F3FE
RGB: (213, 243, 254)
CMYK: 0.161, 0.043, 0, 0.003


Name: Lapis Lazuli
Hex: #2565AE
RGB: (37, 101, 174)
CMYK: 0.787, 0.419, 0, 0.317



Name: Yale Blue
Hex: #0F5298
RGB: (15, 82, 152)
CMYK: 0.901, 0.460, 0, 0.403
*/

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,300;1,400;1,900&display=swap');
/* font-family: 'Chivo', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Chivo, sans-serif;
  font-weight: 700;
  color: white;
}

.bg-fixed {
  background-image: url('./_images/landing-background.jpeg');
  height: 60rem;
}

.logo-add {
  width: 90px;
}

.font-trueno {
  font-family: 'trueno-bd', sans-serif;
  font-weight: 700;
}

.test {
  border: 2px solid red;
}

.bgph {
  top: -5px;
}

.bgph.logo {
  color: red;
}

.bgph.activeback {
  background-image: linear-gradient(
    to bottom right,
    rgb(79, 196, 200),
    rgb(15, 82, 152)
  );
  transition: all 2200ms;
}

.image {
  position: relative;
  width: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(1, 8, 76, 1) 0%,
    rgb(199, 4, 112, 0.9) 5%,
    rgba(1, 8, 76, 0.6) 100%
  );
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.navbar-test {
  width: 95%;
}

.section {
  margin: 0;
  opacity: 0.9;
  transition: all 700ms;
}
.section.open {
  margin: 20px 0;
  opacity: 0.9;
}

.pj-back {
  background: linear-gradient(
    0deg,
    rgba(1, 8, 76, 1) 0%,
    rgba(0, 107, 201, 1) 53%,
    rgba(1, 8, 76, 1) 100%
  );
}

.st-back {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 11%,
    rgba(1, 8, 76, 1) 100%
  );
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:enabled {
}

.customer-info {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=') !important;
  background-color: dodgerblue;
}
/* 
#4fc4c8 */
